body {
	font-family: Helvetica, "DejaVu Sans", sans-serif;
	font-size: 14px;
	background-color: #e3e3e3;
	color: black;
        margin:0;
        padding:0;
        width: 100%;
}

.gwt-Button {
  padding: 3px 5px;
  font-size: small;
  cursor: pointer;
  cursor: hand;
  border: 1px outset #ccc;
}

.gwt-Button:active {
  border: 1px inset #ccc;
}

.gwt-Button:hover {
  border-color: #9cf #69e #69e #7af;
}

.gwt-Button
[ disabled ] {
  cursor: default;
  color: #888;
}

.gwt-Button
[ disabled ]:hover {
  border: 1px outset #ccc;
}
