# Ignore everything #

/*

# Track these files #

!.gitignore
!praca/praca.tex

!Goodle/
Goodle/*
!Goodle/src/

!Goodle/.project
!Goodle/war/Goodle.html
!Goodle/war/WEB-INF/appengine-web.xml
!Goodle/war/WEB-INF/web.xml
!Goodle/war/WEB-INF/classes/META-INF/persistence.xml


