body {
        margin:0;
        padding:0;
}

#goodleLogin td {
        padding: 5px;
}

#banner {
		margin:auto;
        float:center;
}

#goodleLogin {
        padding:20px;
        margin: auto;
        width:30%;
        height:50%;
        background-color: #dddddd;
        border: 2px solid grey;
        border-radius: 5px;
        float:center;
}

#goodleLogout {
        position: absolute;
        top: 45px;
        right: 20px;
}

#goodleSearch {
        position: absolute;
        top: 30px;
        right: 120px;
}

#course_name {
        text-align: center;
        font-size: 200%;
        font-weight: bold;
}

#course_info td {
        padding: 10px;
}

#course_info {
        position:absolute;
        left: 25px;
        padding:10px;
        margin:auto;
}

.gwt-TextBox {
        width: 200px;
}

.gwt-PasswordTextBox {
        width: 200px;
}

.gwt-Button {
   color: #000000;
}
