.header {
	font-size: 50;
}

.mainPanelStyle {
	height: 100%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	padding: 0;
	overflow-x: auto;
	overflow-y: auto;
/*	border: 2px solid black;*/
}

.mainUnderTopPanelStyle {
	background: white;
	postion: absolute;
	width: 100%;
	height: 100%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	overflow-x: auto;
	overflow-y: auto;
/*	border: 2px solid orange;*/
}

.mainView {
	height: 100%;
	width: 100%;
	padding: 5px;
	/*border: 2px solid magenta;*/
}

.insideMainView {
	vertical-align: top;
	padding: 10px;
	min-width: 650px;
}

.tabs {
	padding: 0;
	height: 37px;
	width: 100%;
	position: relative;
	float: left;
	background-image: url('https://lh6.googleusercontent.com/-i4xGmMwV_zE/T4k1ojX2rQI/AAAAAAAAAL0/gRLz7zFfUUE/s800/tabbar.png');
	background-repeat: repeat-x;
	background-position: top right;
}


.tabBefore {
	position: relative;
	width: 100%;
	height: 37px;
	margin: 0;
	padding: 0;
}

.tab {
	text-align: center;
	padding: 8px 20px;
	font-weight: bold;
	float: left;
	height: 100%;
	cursor: pointer;
}

.tab:hover {
	text-decoration: underline;
}

.tabBegin {
	background-image: url('https://lh6.googleusercontent.com/-z6HDekZqbO4/T7fE4am59BI/AAAAAAAAAOM/dJsfGkMop3w/s800/tabbar_left.png');
	background-repeat: no-repeat;
	background-position: top right;
	height: 37px;
	width: 19px;
	margin: 0;
	padding: 0;
}

.tabEnd {
	background-image: url('https://lh5.googleusercontent.com/-sygsOy75Tos/T7fE5y4iOlI/AAAAAAAAAOU/IrzLLP7TVrg/s800/tabbar_right.png');
	background-repeat: no-repeat;
	background-position: top right;
	height: 37px;
	width: 19px;
	margin: 0;
	padding: 0;
}

/* GOODLE VIEW */

.topPanel {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
    background-image: url('https://lh4.googleusercontent.com/-cI_uBJD5pO0/T4lGlzmDcZI/AAAAAAAAAMA/J8aU1jGqmg8/s800/tabbar.jpg');
    background-repeat: repeat-x;
    background-position: top;
    box-shadow: 0 0 15px 0 #ccc;
    border-bottom: 1px solid #c9c9c9;    
/*    border: 1px solid green;*/
}

.leftPanel {
	width: 200px;
	height: 100%;
	float: left;
	position: relative;
    padding: 10px 10px 10px 10px;
    border-right: 1px solid #c9c9c9;
 /*  border: 1px solid red; */
}

.contentPanel { 
   padding: 10px 10px 10px 10px;
  /* border: 1px solid blue;*/
     min-width: 650px;
  height: 100%;
}

.rightPanel {
	width: 200px;
	height: 600px;
    padding: 10px 10px 10px 10px;
    position:relative;
    float: right;
    border-left: 1px solid #c9c9c9;
   /* border: 1px solid orange; */
 }

/* TOP VIEW */

.logo {
	margin-top: 10px;
	font-size: 25px;
	color: #404040;
	text-shadow: #303030 1px -1px 1px;
	text-align:center;
}
.searchBox {
	height: 20px;
	width: 250px;
	margin-top: 10px;
	padding: 0;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}
.searchButton {
	height: 25px;
	width: 75px;
	margin-top: 10px;
	margin-left: 20px;
	
}
.userBox {
	 border-left: 1px solid #c9c9c9;
	 border-right: 1px solid #c9c9c9;
	 padding-left: 10px;
	 padding-right: 10px;
	 margin-right: 10px;
	 float:right;
	 height: 50px;
}

.userImage {
	height: 25px;
	width: 25px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.userName {
	margin-top: 15px;
	margin-right: 10px;
	font-size: 16px;
}
.logoutButton {
	height: 25px;
	width: 75px;
	margin-top: 10px;
	margin-left: 10px;
}

/* CREATE COURSE VIEW */
.resizable {
	height: 100%;
	width: 100%;
	overflow: auto;
	position:absolute;
}
.blabel {
	font-size: 16px;
	font-weight: bold;
	margin: 15px;
}

.mlabel {
	font-weight: bold;
}

.slabel {
	padding-left: 50px;
}

.courseBox {
	width: 250px;
}

.courseDescBox {
	width: 250px;
	height: 100px;
}

/* USER COURSE VIEW */ 
.createButton {
	height: 30px;
	width: 100px;
}

.stack {
	background: red;
	border-bottom: 1px solid #bbbbbb;
}

/* CALENDAR VIEW */
.calendar {
	height: 250px;
	width: 250px;
	margin-bottom: 10px;
}

.hideButton {
	width: 1px;
	height: 100%;
}